/* ============================== Général =================================== */

.inside-panel{
  margin-left: 40px;
}

/* ============================== Panels ==================================== */

/* Conteneur principal de la page */
#main-panel{
  min-height: auto;
  /*background-color: white;*/
  margin-bottom: 40px;
  /*border: solid 1px grey;*/
  border-radius: 10px;
  padding-bottom: 30px;
}

/*Forme un petit cadre qui fait ressortir le profil*/
.sub-pane1{
  min-height: auto;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

/*On regroupe l'image et le texte descriptif sous un même conteneur*/
.wrap-profil{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #D5D5D6;
  margin-bottom: 20px;
  background-color: white;
}

.round-image{
  display: inline-block;
  overflow:hidden;    /*Permet de masquer la partie découpée de l'image*/
  border-radius:100px;
  width:150px;
  height:150px;
  box-shadow: 0px 0px 10px #343434;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
  vertical-align: middle;
}

.sub-pane2{
  /*margin-top: 20px;*/
  /*border: solid 1px grey;*/
  width: 400px;
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.inside-panel-link h2:hover{
  color:#b3c6ff;
}

.inside-panel-link:hover{
text-decoration: none;
}

.panel-text{
  font-weight: bold;
}

.btn-default{
  margin-left: 600px;
  margin-bottom: 50px;
}
