#form-cnx{
  width:600px;
  background-color: white;
  box-shadow: 1px 1px 7px ;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

#form-cnx h1{
  margin-left: 40px;
  margin-bottom: 30px;
}

#form-cnx table{
  width: 350px;
  margin:auto;
}
