.bouton-evenement{
  margin-left: 700px;
  padding-top: 20px;
}

.alert.alert-success{
  margin-top: 20px;
  text-align: center;
}

#evenements{
  border: solid 1px;
  border-radius: 20px;
  background-color: white;
  width:800px;
  margin-right:auto;
  margin-left:auto;
  margin-top: 50px;
}
