/* === Général === */
.right-side-h3{
  border-bottom:solid 1px lightgrey;
  padding: 5px 0px 5px 10px;
  margin-top:0;
}

.right-side-h3 a {
    color:black;
}

.inside-panel{
  margin-left: 40px;
}

/* === Panels === */
.left-sub-panel{
  min-height: 200px;
  background-color: white;
  margin-bottom: 40px;
  border: solid 1px grey;
  border-radius: 10px;
  padding-bottom: 30px;
}

.inside-panel-link h2:hover{
  color:#b3c6ff;
}

.inside-panel-link:hover{
text-decoration: none;
}

.horodatage{
  color: grey;
  margin-bottom: 20px;
}

.panel-text{
  padding-left: 20px;
  border-left: solid 3px;
  text-align: justify;
  width:400px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.btn-lire-plus{
  border: solid 1px;
  padding: 5px 10px 5px 10px;
  margin-left: 42px;
  border-radius: 7px;
}

/* === Bloc "Vos messages" === */
#newmessages{
  background-color: white;
  box-shadow: 1px 1px 7px ;
  min-height: 100px;
  margin-bottom: 40px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 0.9em;
  padding-bottom: 20px;
}

#smoke-background{
    background-color: rgba(44, 44, 44, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

#wrap-message{
    width: 800px;
    margin: 50vh auto;
    min-height: 300px;
    transform: translateY(-50%);
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color: #181A18;
}

#theMessage{
    width:700px;
    margin:auto;
    text-align:justify;

}

#theMessage p{
    background-color: white;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
}

/* === Bloc "Calandrier" === */
#calendrier{
  background-color: white;
  box-shadow: 1px 1px 7px ;
  min-height: 200px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 10px;
}

#wrap-float-event{
    position: absolute;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 2px;
}
