/* === Général === */
.right-side-h3{
  border-bottom:solid 1px lightgrey;
  padding: 5px 0px 5px 10px;
  margin-top:0;
}

.inside-panel{
  margin-left: 40px;
}

/* === Panels === */
.left-sub-panel{
  min-height: 200px;
  background-color: white;
  margin-bottom: 40px;
  border: solid 1px grey;
  border-radius: 10px;
  padding-bottom: 30px;
}

.left-sub-pane2{
  min-height: 400px;
  background-color: white;
  margin-bottom: 40px;
  border: solid 1px grey;
  border-radius: 10px;
  padding: 30px;
}

.inside-panel-link h2:hover{
  color:#b3c6ff;
}

.inside-panel-link:hover{
text-decoration: none;
}

.panel-text{
  text-align: justify;
  width:440px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.panel-part{
  text-align: justify;
  width:440px;
  margin-bottom: 20px;
  display: inline-block;
}

.cnes{
  margin-left: 15px;
}

.cnrs{
  margin-left: 70px;
}

#smoke-background{
    background-color: rgba(44, 44, 44, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}



/* === Bloc "Calandrier" === */
#calendrier{
  background-color: white;
  box-shadow: 1px 1px 7px ;
  min-height: 200px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 10px;
}
