/* === Général === */
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body{
  background-image: url(../images/pattern/pattern.png);

}

h1{
  font-size: 36px;
  color: #0C0C2A;
}

h2{
  font-size: 30px;
  color: #096485;
}

h3{
  font-size: 24px;
  color: #000000;
}

h4{
  font-size: 18px;
  color: black;
}

p{
  color: #0C1B2A;
}

/* === Header === */
header{
  width:900px;
  margin: auto;
  padding: 30px 0px 40px 0px;
  height: 170px;
}

#logo{
  display: inline-block;
  margin-left: 20px;
  width: 480px;
  height: auto;
  vertical-align:bottom;
}

#fieldset-header {
  display: inline-block;
  margin-left: 150px;
}

/* === Nav === */
nav{
  background-color: #181A18;
  border-radius: 5px;
  margin-bottom: 20px;
}

.nav-fixed{
  background-color: #181A18;
  margin-bottom: O;
  position: fixed;
  top:0;
  width: 900px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-fixed ul{
  margin-bottom: 0;
}

#wrap-li{
  list-style-type: none;
}

#wrap-li li{
  display: inline-block;
  color:#E6E6E6;
  padding:15px 10px 15px 10px;
}

#wrap-li li a{
  color:#E6E6E6;
}

#wrap-li li a:hover{
  text-decoration: none;
  color:   grey;
}

.actif{
  background-color: #0C0E0C;
}

/* === Conteneur principal === */
#wrap-container{
  width:900px;
  margin: auto;
}

/* === Conteneur gauche === */
.wrap-content-fixed{
  margin-top: 76px;
}

#left-panel{
  width: 500px;
  display: inline-block;
  margin-left: 20px;
}

/* === Conteneur droit === */
#right-panel{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-left: 45px;

}



/* === Footer === */
footer{
  min-height: 200px;
}
